@charset "UTF-8";
/* CSS Document */

body {
	background-color: #EEEFEF;
}

div.title {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #FFB40E;
	font-size: 36px;
	text-align: center;
	}	
div.description {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #195C72;
	font-size: 15px;
	text-align: center;
	}
