@charset "UTF-8";
/* CSS Document */
body {
    background-color: #FFFFFF;
    width: auto;
    margin-top: 50px;
}
#logo_btn {
    float: left;
    margin-left: 30px;
}

h1 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 40px;
    text-align: center;
    color: #27A7B8;
}



nav {
    text-align: right;
    padding-top: 15px;
    padding-right: 30px;
}
a:link {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}

header {
    margin-top: 100px;
}
#brief_descrpt {
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
